body {
    background-image: url("/assets/images/light-grey-terrazzo.png");
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    margin: auto;

}

.wrapper {
    width: 100%;
    margin: 0;
}

.topHeader {
    position: static;
    display: inline-block;
    width: 100%;
    height: 100px;
    padding-top: 0;
    margin: 0;
    border-bottom: solid;
    border-color: #cccccc;
    background-color: #ffffff;

}

#headerName {
    position: relative;
    display: inline-block;
    width: 300px;
    height: 50px;
    padding: 10px;
    margin: 50px 10px 0 10px;
    background-color: #4aaaa5;
}

#name {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.nav {
    position: relative;
    float: right;
    padding: 50px;
    margin: auto;
}

a:link, a:visited {
    color: #666666;
    text-decoration: none;
}

a:hover, a:active {
    color: #4aaaa5;
}

#aboutme {
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.mainContent {
    position: relative;
    display: inline-block;
    width: 960px;
    padding: 10px;
    margin: 20px;
    border-style: solid;
    border-color: #dddddd;
    background-color: #ffffff;
}

#myPhoto {
    float: left;
    height: 200px;
    width: auto;

}

.footer {
    position: sticky;
    width: 100%;
    height: 50px;
    background-color: #666666;
    border-top: solid;
    border-color: #4aaaa5;
    text-align: center;
    color: #cccccc;
}