html, body {
    height: 100%;
}

body {
    background-image: url("file:///C:/Users/critt/Homework/HW-Portfolio/assets/images/beige-tiles.png");
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    margin: auto;
    display: flex;
    flex-direction: column;

}

.wrapper {
    width: 100%;
    margin: 0;
    flex: 1 0 auto;

}

.topHeader {
    position: static;
    display: inline-block;
    width: 100%;
    height: 100px;
    padding-top: 0;
    margin: 0;
    border-bottom: solid;
    border-color: #cccccc;
    background-color: #ffffff;

}

#headerName {
    position: relative;
    display: inline-block;
    width: 300px;
    height: 50px;
    padding: 10px;
    margin: 30px 10px 0 150px;
    background-color: #4aaaa5;
}

#name {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
  
}

.nav {
    position: relative;
    float: right;
    padding: 50px;
    margin: auto;
}

a:link, a:visited {
    color: #777777;
    text-decoration: none;
}

a:hover, a:active {
    color: #4aaaa5;
}

.mainContent {
    position: relative;
    display: inline-block;
    width: 960px;
    padding: 10px;
    margin: 20px 150px 20px 150px;
    border: solid 2px #cccccc;
    background-color: #ffffff;
}

#mainContentHeader {
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0 20px 0 20px;
}

#hrMainContent {
    border-width: 1px;
    border-color: #cccccc;
}

#contentSection {
    position: relative;
    display: inline-block;
    width: 900px;
    padding: 20px;
    margin: 20px;
    border-top: solid 2px #cccccc;
    background-color: #ffffff;

}

#myPhoto {
    float: left;
    height: 200px;
    width: auto;
    padding: 0 10px 0 0;

}

.footer {
    position: sticky;
    width: 100%;
    height: 50px;
    flex-shrink: 0;
    background-color: #666666;
    border-top: solid 8px #4aaaa5;
    text-align: center;
    color: #cccccc;
}